<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script
		async
		src="https://www.googletagmanager.com/gtag/js?id=UA-37785083-2"
	></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "UA-37785083-2");
	</script>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="theme-color" content="#000" />
	<meta
		name="google-site-verification"
		content="KU_YM5QcUB8SspTB0IVQpozS_0P6AXMpV71oEiill04"
	/>
	<title>One Man and His Highlighter</title>
	<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}"> <link
	rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}"> {% seo
	%}
</head>
